@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300&family=Poppins:wght@500;600;700&display=swap");

body {
	/* background: url("assets/cover.png") no-repeat center center; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 500px;
	min-height: 1200px;
	overflow-y: hidden;
	color: #ffffff;
	min-height: 1200px;
	float: auto;
	left: 100px;
	font-family: "Poppins", sans-serif;
}

.container {
	width: 500px;
	height: 500px;
	/* background: rgba(2, 26, 74, 0.5);
            overflow: hidden;
            height: 100%;
            min-height: 1200px;
            position: relative; */
}

img {
	position: absolute;
	top: 50px;
	left: 225px;
	width: 1100px;
	height: 500px;
}

form {
	position: absolute;
	top: 30%;
	left: 43%;
}

p {
	position: absolute;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #021a4a;
	right: 550px;
	bottom: 37px;
}
.rectangle {
	position: absolute;
	background: white;
	padding: 15px 10px;
	width: 700px;
	height: 60px;
	margin: 280px -270px;
	border-radius: 8px;
	box-shadow: 3px 9px 28px 1px rgba(0, 0, 0, 0.15);
}
.myselect {
	text-align-last: center;
	padding: 10px 25px;
	margin-left: 10px;
	margin-top: 20px;
	width: 400px;
	height: 40px;

	color: #bababa;
	border: 2px solid #021a4a;

	border-radius: 12px;
	background-color: white;
	background-image: linear-gradient(45deg, transparent 50%, #bababa 50%), linear-gradient(135deg, #bababa 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;

	font: inherit;
	font-size: 14px;
	color: #021a4a;

	-webkit-appearance: none;
}

.myselect:hover {
	cursor: pointer;
}

.myselect:focus {
	outline: 0;
}

.mybutton {
	position: absolute;
	background: #021a4a;
	border-radius: 61px;
	width: 150px;
	height: 40px;
	margin: -40px 540px;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: white;
}

.mybutton:hover {
	cursor: pointer;
}
